@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,700;1,100;1,200;1,400&display=swap');

body::-webkit-scrollbar-track {
  background-color: var(--brand-light);
}
body::-webkit-scrollbar {
  width: .7rem;
  background: var(--brand-beige);
  border-radius: 10rem;
  
}
body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border: 4px solid var(--primary-color);
  border-radius: 8px;
  background-clip: padding-box;  
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  
  color: var(--color-text);
  --bg-panel: #EBEBEB;
  --color-headings: #0077FF;
  --color-text: #333333;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow-y: overlay;
  background: var(--bg);
}
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 3rem;
}
label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: var(--color-headings);
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: min(50rem, 100%);
  border-radius: .6rem;
}
section {
  padding-block: 10rem;
}

section header h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  line-height: 150%;

}
section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}
section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}
button {
  background: var(--primary-color);
  border: none;
  border-radius: 0.8rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;
  border-radius: 4rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  transition: .3s;
}
.button:hover {
  background: var(--brand-dark);
}
#home .button:hover {
  background: var(--brand-dark);
}
.divider-1 {
  height: 2px;
  background: linear-gradient(278deg,
  var(--primary-color),
  var(--brand-light));
}
.divider-2 {
  height: 2px;
  background: linear-gradient(270deg,
  var(--brand-light),
  var(--primary-color));
}


:root {

  --hue: 150;
  /* DARK MODE */
  --bg: white;
  font-size: 62.5%;

  /* FONTS */
  --font-title: 'Poppins', sans-serif;
  --font-text:   'DM Sans', sans-serif;

  /*  Colors */
  --color-text: hsl(210, 11%, 15%);
  --primary-color: hsl(var(--hue), 100%, 26%);
  --logo-color: hsla(200, 100%, 26%);
  --title-logo-color: hsl(var(--hue),0%,0%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210,9%,31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --bramd-light-2: hsl(calc(var(hue) +10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);
  --bg-light: hsl(180, 14%, 97%);
  --nav-height: 7.2rem;
}

#navigation.scroll .logo .secondTitle {
  color: var(--bg-light);
}
#navigation.scroll .logo .title {
  font-weight: 400;
}
html, body {
  width: 100%;
  height: 100%;
}
#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}
#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}
#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}
span {
  color: var(--logo-color);
}
.title {
  color: var(--primary-color);
}
.open-menu svg path {
  stroke: var(--primary-color);
}
nav.scroll svg path {
  stroke: var(--brand-beige);
}

#home button {
  background: var(--primary-color);
  border: none;
  border-radius: 0.8rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;
  border-radius: 4rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}
.wrapper {
  width: min(50rem, 100%);
  margin-right: auto;
  margin-left: auto;
  padding-inline: 2.4rem;
  position: relative;
  
}
#home {
  padding-block:0 ;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(73% + var(--nav-height));
  background: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*  STATS */

.stats {
  width: 100%;
  padding-block: 4rem;

  margin-inline: auto;
  background: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border: 1px solid var(--brand-light);
  border-radius: .6rem;
}
.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;
}
.stat p {
  margin: 0;
  color: var(--primary-color);
  line-height: 150%;
}

/*  MENU  */
body.menu-expended .align {
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;

  height: 7rem;
  padding-inline: 2.4rem;
  padding-block: 1.6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--brand-beige);
  z-index: 10;
}
.logo {
  cursor:pointer;
  color: var(--brand-beige);
}
nav svg {
  cursor: pointer;
}
nav .wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 6rem;
}

nav.scroll {
  background: var(--primary-color);

}
nav.scroll .bar {
  background-color: white;
}
nav.scroll .title {
  color: var(--font-title);
}
nav button {
  background: none;
  border: none;
  cursor: pointer;
}
/*  Botão menu */

.btnmenu {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 10;
}

.bar {
  height: .4rem;
  background: var(--primary-color);
  transition: .3s;
  border-radius: .3rem;
}
.bar1 {
  transform: translateY(-0.3rem);;
}
.bar3 {
  transform: translateY(0.3rem);
}

.change .bar1 {
  transform: rotateZ(45deg) translateY(0.5rem);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotateZ(-45deg) translateY(-0.5rem);
}
/* Menu explorado */
body.menu-expended {
  overflow: hidden;
}

body.menu-expended > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expended .open-menu {
    opacity: 0;
    visibility: hidden;
}
body.menu-expended .menu,
body.menu-expended .close-menu {
  opacity: 1;
  visibility: visible;
}
.menu {
  transform: translateX(100%);
  transition: transform 300ms;
}
body.menu-expended .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100%;
  height: 100vh;
  padding-top: var(--nav-height);
 

  transform: translateY(0);
}


body.menu-expended nav {
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-size: 2.4rem;
  line-height: 3.1rem;

}

.menu ul li a {
  color:white;
}
.menu .button {
  background: #fff;
  border-radius: 4rem;
  font: bold 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-flex;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  margin-inline: auto;
}

.social-links {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

body.menu-expended .logo,
body.menu-expended nav button {
  position: relative;
  z-index: 10;
}

body.menu-expended .title {
  color: white;  
}


.menu-expended .bar {
  background: white;
}

/* SERVICES ==================================*/

#services header h4{
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

#services header h2 {
  margin-bottom: 6rem;
}

.card {
  width: min(50rem, 100%);
  padding: 3.4rem;
  text-align: left;
  background: var(--brand-light);
  border: 1px solid var(--bg-light);
  border-radius: .6rem;
}
.card circle{
  fill: var(--brand-beige);
}
.card h3 {
  margin-block: 1.6rem;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
}
.swiper-button-prev {
  color: var(--primary-color);
  transform: scale(0.6);
  width: calc(var(--swiper-navigation-size)/ 200 * 27);
}
.swiper-button-next {
  color: var(--primary-color);
  transform: scale(0.6);
  width: calc(var(--swiper-navigation-size)/ 200 * 27);
}

/* ABOUT ==================================*/
#about {
  text-align: left;
  background: var(--brand-beige);
}
#about h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/* TESTIMONIALS */

#testimonials h2 {
  margin-bottom: 3rem;
}


/* Contact ==================================*/

#contact ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact h2 {
  margin-bottom: 2rem;
}
#contact button {
  margin-top: 3.18rem;
}
#contact img {
  margin-inline: auto;
}
#contact svg path {
  stroke: var(--primary-color);
}
/* FOOTER */

footer {
  padding-top: 3.75rem;
  padding-inline: 1.625rem;
  background: var(--primary-color);
  text-align: left;
}
footer .logo .title {
  display: inline-block;
  color: var(--brand-beige);
  margin-bottom: 1.5rem;
}

footer p {
  line-height: 2;
  color: white;
  margin-bottom: 2.25rem;
  font-size: 1.3rem;
}

footer ul {
  display: flex;
  gap: 3rem;
}
footer li {
  margin-bottom: 3.87rem;
}

/* menu de voltar ao topo */
#backToTopButton svg circle{
  fill: var(--primary-color)
}
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
  transform: translateY(100%);
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ================== RESPONSIVE ================================ */

@media (min-width: 1024px) {
    /* =============== GERAL =============*/
    .wrapper {
      width: min(112rem, 100%);
      display: grid;
    }
    .swiper {
      width: 95rem;
    }
    section {
      padding-block: 16rem;
    }
    section h2 {
      font-size: 4rem;
      line-height: 5.2rem;
    }
    /* =============== Navigation =============*/

    /* reset */
    nav#navigation .wrapper * {
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      transform: initial;
      color: initial;
      background-color: initial;
      font-weight: initial;
      font-size: initial;
    }
    nav#navigation .btnmenu,
    nav#navigation .social-links {
      display: none;
    }

    nav#navigation .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 65%
    }
    nav#navigation .menu ul:nth-child(1) {
      display: flex;
      gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
      font-weight: 400;
      color: var(--primary-color);

      opacity: 0.7;
    }

    nav#navigation .menu a.button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2.4rem;

      border: 1px solid var(--primary-color);
      border-radius: 4rem;

      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.8rem;
      text-transform: uppercase;
    }
    nav#navigation .menu a.button:hover {
      border-color: var(--brand-beige);
      color: var(--brand-beige);
      background-color: var(--primary-color);
    }
    nav#navigation a.logo .title {
      color: var(--primary-color);
    }
    nav#navigation a.logo .secondTitle,
    nav#navigation.scroll a.logo .secondTitle {
      color: var(--logo-color);
      font-weight: bold;
    }
    nav#navigation.scroll a.logo .title {
      color: var(--brand-beige);
    }

    nav#navigation.scroll .menu ul li a {
      color: var(--brand-light);
      opacity: 0.6;
    }
    nav#navigation.scroll .menu a.button {
      border-color:var(--brand-light);
      color: var(--brand-light);
      opacity: 1;
    }
    nav#navigation .menu li a{
      transition: .4s;
    }
    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover{
      opacity: 1;
    }
    nav#navigation.scroll .menu li a:hover,
    nav#navigation.scroll .menu li a.active {
      opacity: 1;
    }
    nav#navigation .menu li a:not(a.button)::after {
      content: '';
      width: 0%;
      height: 2px;
      background-color: var(--primary-color);
      
      display: block;

      position: relative;
      bottom: -2rem;
      
      left: -.5rem;

      transition: width .2s;
    }
    nav#navigation .menu li a:not(a.button):hover::after,
    nav#navigation .menu li a:not(a.button).active::after{
      padding-inline: .8rem;
      width: 100%;
    }
    nav#navigation.scroll .menu a.button:hover,
    nav#navigation.scroll .menu a.button.active {
      background-color: var(--primary-color);
      filter: brightness(1.3);
      border: none;
    }
    img {
      width: 100%;
    }
    /* =============== home =============*/
    #home::before {
      height: calc(96% - var(--nav-height));
    }
    #home .wrapper {
      grid-template-columns: 60.5rem 1fr;
      grid-template-areas: 
      'A B'
      'C C'
      ;
    }
    #home .col-a {
      grid-area: A;
      text-align: left;
    }
    #home .col-b {
      grid-area: B;
    }
    #home .stats .stat + .stat {
      border-left: 1px solid var(--primary-color);
    }
    #home .stats .stat {
      flex: 1;
      
    }
    #home .stats p {
      margin: 0;
      display: inline-block;
    }
    #home h1 {
      font-size: 5.2rem;
    }
    #home p {
      font-size: 1.8rem;
    }
    #home .stats {
      
      grid-area: C;
      gap: 0;
      flex-direction: row;
      padding: 6rem;
    }
    #home .button {
      margin-inline: 0;
    }
    #home img {
      width: min(50rem, 100%);
    }
  
    nav#navigation .toggle {
      display: none;
    }
    /* =============== services =============*/

    #services h2 {
      width: 47rem;
      margin-inline:auto;
    }
    /* contacts  */
    #contact .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'D E'
      ;
    }
    #contact .col-c {
      grid-area: D;
      text-align: left;
    }
    #contact .col-d {
      grid-area: E;
    }
    /* ============= about ========== */
    
    #about .wrapper {
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'D E'
      ;
    }
    #about .col-c {
      grid-area: D;
      text-align: left;
    }
    #about .col-d {
      grid-area: E;
    }
}